# Server Configuration
NODE_ENV="development"
PORT=5000

# Database Configuration (Prisma v7)
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

# JWT Configuration
JWT_SECRET="your_jwt_secret"
ACCESS_TOKEN_EXPIRES_IN="1d"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES_IN="30d"
RESET_PASS_SECRET="your_reset_pass_secret"
RESET_PASS_TOKEN_EXPIRES_IN="10m"

# Bcrypt Configuration
SALT_ROUND=12

# Frontend URL
CLIENT_URL="http://localhost:3000"

# --- Optional Configurations ---

# Cloudinary (Image Uploads)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Email Sender (Nodemailer)
EMAIL_SENDER_EMAIL=""
EMAIL_SENDER_APP_PASS=""

# Stripe (Payments)
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# SSL Commerz (Optional Payment Gateway)
STORE_ID=""
STORE_PASS=""
SSL_PAYMENT_API=""
SSL_VALIDATION_API=""
SUCCESS_URL=""
CANCEL_URL=""
FAIL_URL=""

# OpenRouter (AI Integration)
OPEN_ROUTER_API_KEY=""
